<nav class="navbar">
    <div class="navbar-brand">
      <span id="rotate">&#10052; </span>
      <span onclick="location.replace('/');">Weather App</span>
      <span id="rotate">&#10052;</span>
    </div>
    <div class="navbar-links">
      <a href="/" class="navbar-link">Home</a>
      <a href="/weather" class="navbar-link">Weather</a>
      <a href="#" class="navbar-link">About</a>
    </div>
  </nav>